*, 
*::before, 
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
.page-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    color: #ffffff;
}
.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #2e2f42;
}

.section-text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
header {
    border-bottom: 1px solid #e7e9fc;
    background-color: #ffffff;
    text-align: center;
}

.feature-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2e2f42;        
}
.page-nav {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
nav a {
    color: #333333;
}
nav a:hover {
    color: #4d5ae5;
}

nav a:focus {
    color: #4d5ae5;
}
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    text-align: center;
}
.hero-button {
    background-color: #4d5ae5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}
.link.current {
    color: #404bbf;
    font-weight: 700;
}
.link:hover,
.link:focus {
    color: #404bbf;
}
.page-nav .link {
    font-weight: 500;  
}
.page-nav .link.current {
    font-weight: 700;  
}
.page-nav .link:hover,
.page-nav .link:focus {
    color: #404bbf;
}
.hero-button:active {
    background-color: #404bbf;
}
.team {
    background-color: #f4f4fd;
    text-align: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2e2f42;
}
.logo-accent {
    color: #4d5ae5;
}
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer .logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0,03em;
    color: #ffffff;
}
.logo-web {
    color: #4d5ae5;
}
.footer .logo-accent {
    color: #4d5ae5;
}
.footer-text {
    line-height: 1.5;
    color: #f4f4fd;
    max-width: 264px;
    margin-top: 16px;
}
.portfolio-list .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2e2f42;   
}
Fix hero button size according to Figma


